<!-- bảng loại sản phẩm -->
<div id="table_loai" style="display: flex; justify-content: center; margin-top: 20px;">
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">Mã loại sản phẩm</th>
                <th scope="col">Tên loại sản phẩm</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">
                    <%= data.rows.maloai %>
                </th>
                <td>
                    <%= data.rows.tenloai %>
                </td>
            </tr>
        </tbody>
    </table>
</div>