<!-- bảng sản phẩm -->
<div id="table_sp" style="display: flex; justify-content: center; margin-top: 20px;">
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Quyền</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"><%= data.rows.username %></th>
                <td><%= data.rows.role %></td>
           
            </tr>
        </tbody>
    </table>
</div>