<header style="width: 100%; height: 60px; border-bottom: 1px solid #999;">
  <div class="nav" style="display: flex; width: 100%; height: 100%; align-items: center;">
    <div class="adname" style="margin-left: 20px; display: flex; align-items: center;">
      <span>Admin</span>
    </div>
    <div style="margin-left: 20px; width: 1200px; display: flex; justify-content: space-around;">
      
      <button id="btnLoaiSP" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false"
        autocomplete="off">
        Thêm loại
      </button>
      <button id="btnNSX" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false"
        autocomplete="off">
        Thêm nhà sản xuất
      </button>
      <button id="btnSP" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false"
        autocomplete="off">
        Thêm sản phẩm
      </button>
      <a href="/listTProduct" class="btn btn-primary">
        Danh sách loại sản phẩm
      </a>
      <a href="/listNSX" class="btn btn-primary">
        Danh sách nhà sản xuất
      </a>
      <a href="/listProduct" class="btn btn-primary">
        Danh sách sản phẩm
      </a>
      <a href="/listGuest" class="btn btn-primary">
        DS Người dùng
      </a>
      <a href="/listCart" class="btn btn-primary">
        Đơn hàng
      </a>
    </div>
    <div style="display: flex; position: absolute; right: 20px;">
      <a class="btn btn-primary" href="/logout">
        Đăng xuất
      </a>
    </div>
  </div>
  <%- include('main') %>

</header>