<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width='device-width', initial-scale=1.0">
    <title>
        <%= data.title %>
    </title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div style="width: 100vw; height:100vh; display: flex; justify-content: center; align-items: center;">
        <form method="post" action="/login">
            <!-- Email input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="username" name="username" class="form-control" />
              <label class="form-label">Username</label>
            </div>
          
            <!-- Password input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="password" name="password" class="form-control" />
              <label class="form-label">Password</label>
            </div>
          
    
          
              <div class="col">
                <!-- Simple link -->
                <a href="#!">Forgot password?</a>
              </div>
    
          
            <!-- Submit button -->
            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Sign in</button>
          
          </form>
    </div>
</body>

</html>